# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

node_modules
/docsmd/.vuepress/dist

# misc
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# lock
package-lock.json
# yarn.lock

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


